extends ../_layout/main
block config
  - var title = template.head.title || 'You must set a title for this article'
  - var description = template.head.description || 'You must set a description for this article'
block welcome
  .welcome
    h1= title
    p.lead= description
    include ../_component/continue/continue
block content
  #continue
  each item in template.body
    if ["h1", "h2", "h3", "h4", "h5", "h6"].indexOf(item.type) !== -1
      #{item.type} #{item.data}
    if item.type === "paragraph"
      each p in item.data
        p= p
    if item.type === "paragraph-safe"
      each p in item.data
        p!= p
    if ["ol", "ul"].indexOf(item.type) !== -1
      #{item.type}
        each listItem in item.data
          li= listItem
    if item.type === "pre"
      h3.pre-title= item.title
      pre= item.data
    if item.type === "img"
      +image({filename: item.src, caption: item.caption, autopath: item.autopath})
    if item.type === "hr"
      hr
    if item.type === "blockquote"
      +blockquote({
        body: item.data,
        source: item.source,
        link: item.link
      })
