doctype html
html
  block config
  head
    //- Check if title exists
    if title
      title #{title}
    //- Check if description exists
    if description
      meta(name="description", content=description)
    //- Check if canonical exists
    if canonical
      link(rel="canonical", href=canonical)
    //- disable zoom on handheld devices
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    //- if inline css is turned on in package.json inject it in here
    if config.entry.css.inline
      link(rel="stylesheet", href=inlinePath, inline)
  body
    block welcome
    block content
//- add external css at the end of the HTML so it doesn't block any resource download
if config.entry.css.external
  link(href="/style.css", rel="stylesheet")
